<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Application Form</title>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100&family=Montserrat:wght@900&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
