*{margin: 0px 0px}
body{
  background-color: #d1cec7;
}
h1{
  text-align: center;
  margin: 70px 0px;
  color: #black;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;


}
.main{
  text-align: center;
  border: 2px solid black;
  width: 592px;
  margin: auto;
  background: #e3e1dc;
  border-radius: 28px;
}
.fnln input{

  display: block;
  text-align: center;
  margin: 15px auto;
  height: 33px;
  width: 327px;
}
.fn{
  height: 40px;
  width: 330px;
  border: 0.5px solid;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 18px;

}
.ln{
  height: 40px;
  width: 330px;
  border: 0.5px solid;
  border-radius: 5px;
  margin-left: 5px;
  text-align: center;
  font-size: 18px;
}

.f3{
  height: 40px;
  width: 680px;
  border: 0.5px solid;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: center;
  font-size: 18px;
}
.f4{
  height: 40px;
  width: 336px;
  border: 0.5px solid;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: center;
  font-size: 18px;
}
.submit{
  text-align: center;
  margin-top:140px;
  margin-bottom: 100px;
}
.b1{
  background-color: black;
  color: white;
  border: 0px;;
  border-radius: 10px;
  text-align: center;

  font-size: 30px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin: 30px 0px;
}
.b1:hover{
  cursor: pointer;

}
h2{
  font-size: 20px;
  margin-top: 20px;
}
.f5{
  height: 60px;
  width: 336px;
  border: 0.5px solid;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: center;
  font-size: 18px;
}
h3{
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
a{
  color: black;
  display: block;
  text-align: center;
  margin-top: 25px;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}
li{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  list-style: none;
  text-align: center;
}
span{
  color: red;
  font-weight: bold;
}
input{
  align-items: center;
  justify-content: center;
  text-align: center;
}
p{
  text-align:center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
}
